$text-color: black;
$link-hoverColor: #69c0ff;
$switcher-color: #1890ff;

.header,
.sticky__header,
.sticky__white {
  .logo__link{
    float: left;
    .main__logo {
      width: 40px;
      height: 41px;
      margin: 10px 40px 10px 0;
      background-image: url(../../assets/icons/yellow.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
    .main__logo:hover{
      opacity: 0.8;
      transition: all 0.3s;
    }
  }
  .menu__btn{
    width: 40px;
    height: 41px;
    display: none;
    .menu__icon {
      font-size: 18px;
    }
  }
  .header__menu,
  .header__menu_light{
    font-size: 18px;
  }
}
  .sticky__header {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .sticky__white{
    position: sticky;
    top: 0;
    z-index: 1;
    animation-name: changeColor !important;
    animation-duration: 1.5s;
    box-shadow: 0px 0px 5px 3px #00152986;
  }


@media (max-width: 900px) {
  .header,
  .sticky__header,
  .sticky__white{
    .menu__btn{
      display: block;
      position: absolute;
      margin-top: 10px;
      right: 20px;
    }
    .header__menu,
    .header__menu_light{
      display: none;
    }
  }
}
.header__menu_light {
  animation-name: changeColor !important;
  animation-duration: 1.5s; 
}
@keyframes changeColor {
    0%   {background-color: #001529de;}
    100% {background-color: #9fbbd6e4 !important;}
}
.header__menu,
.header__menu_light{
  .menu__login,
  .menu__main{
    margin-left: auto;
  }
  .menu__user{
    .menu__userIcon{
      color: white;
      background-color: #5d1cba;
      font-size: 16px;
    }
    .user__profile{
      margin-left: auto;
    }
  }
}
.user__profile{
  margin-left: auto;
  font-size: 18px;
}

.drawer__contant{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 3rem;
  gap: 1rem;

}
.drawer__link {
  color: $text-color;
  font-size: 1.4rem;
  :hover{
    color: $link-hoverColor;
    transition: all 0.3s;
  }
  .link__icon{
    font-size: 1rem;
    margin-right: 0.5rem;
  }
}
.language__block,
.language__blockToken{
    font-weight: 700;
    font-size: 18px;
}
.language__block{
  position: absolute;
  top: 17px;
  right: 350px;
}
.language__blockToken{
  position: absolute;
  top: 17px;
  right: 500px;
}
@media (max-width: 900px) {
  .language__block{
    right: 100px;
  }
  .language__blockToken{
    right: 100px;
  }
}
