$text-color: black;
$link-hoverColor: #69c0ff;
$switcher-color: #1890ff;

.header {
  .logo__link{
    float: left;
    .main__logo {
      width: 40px;
      height: 41px;
      margin: 10px 40px 10px 0;
      background-image: url(../../assets/icons/yellow.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
    .main__logo:hover{
      opacity: 0.8;
      transition: all 0.3s;
    }
  }
  .menu__btn{
    width: 40px;
    height: 41px;
    display: none;
    .menu__icon {
      font-size: 24px;
    }
  }
  .header__menu{
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .header{
    .menu__btn{
      display: block;
      position: absolute;
      margin-top: 10px;
      right: 20px;
    }
    .header__menu{
      display: none;
    }
  }
}
.header__menu{
  .menu__login{
    margin-left: auto;
  }
  .menu__user{
    margin-left: auto;
    .menu__userIcon{
      font-size: 20px;
    }
    .user__profile{
      margin-left: auto;
    }
  }
}
.user__profile{
  margin-left: auto;
  font-size: 18px;
}

.drawer__contant{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 3rem;

}
.drawer__link {
  color: $text-color;
  font-size: 1.4rem;
  :hover{
    color: $link-hoverColor;
    transition: all 0.3s;
  }
  .link__icon{
    font-size: 1rem;
    margin-right: 0.5rem;
  }
}
.language__block{
  position: absolute;
  top: 0;
  right: 300px;
}
@media (max-width: 768px) {
  .language__block{
    right: 100px;
  }
}
.language__blockToken{
  position: absolute;
  top: 0;
  right: 130px;
}
.language__block,
.language__blockToken{
  .language{
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
  }
  .language__switcher {
    background-color: $switcher-color;
    border: 0.5px solid yellow;
  }
}
