body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ant-card .ant-card-head {
  border-bottom: 0px;
}

.ant-card .ant-card-actions {
  border-radius: 8px;
}
.owner {
  color: white;
  background-color: #003eb3;
  cursor: pointer;
}
