.boardList {
  overflow: auto;
  overflow-y: hidden;
  height: 70vh;
    :global .ant-list-items {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

.boardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boardControllers{
  display: flex;
  flex-direction: column;
}